.pos-relative {
    position: relative;
}

.padding-top {
    padding-top: 20px;
}

.flex-center {
    display: flex;
    height: calc(100vh - 250px);
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(0,0,0, 0.1);
    padding-bottom: 100px;
}